.display {
  border: 1px solid rgb(0, 99, 237);
  border-radius: 0.5rem;
  border-style: dotted;
  background-color: rgb(160, 174, 224);
  padding: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}